<body>
    <div class="topnav">
        <h3>
            <a
            href=''>HOME
            </a>
            <a
            href='#resources-section'>RESOURCES
            </a>
            <a
            href="#about-section">ABOUT
            </a>
            <br />

        </h3>
    </div>

    <div class="banner">
    </div>

    <h1>TECHNOLOGY</h1>

    <div class="figures">
    <button class="lovelace">
        <a class="text">
        "Ada Lovelace, in full Ada King, countess of Lovelace, original name Augusta Ada Byron, Lady Byron, (born December 10, 1815, Piccadilly Terrace, Middlesex [now in London], England—died November 27, 1852, Marylebone, London), English mathematician, an associate of Charles Babbage, for whose prototype of a digital computer she created a program. She has been called the first computer programmer." - Encyclopedia Britannica
        </a>
    </button>
    </div>

    <div class="resources">
        <a href="https://ocw.mit.edu/" target="_blank">
            MIT OpenCourseWare
        </a><br>
        <a href="https://www.coursera.org/" target="_blank">
            Coursera
        </a><br>
        <a href="https://www.edx.org/" target="_blank">
            edX
        </a><br>
        <a href="https://www.codecademy.com/learn" target="_blank">
            CodeAcademy
        </a><br>
        <a href="https://code.org/beyond/extended-learning" target="_blank">
            CS Journeys Resources
        </a><br>
        <a href="https://www.youtube.com/@programminghelporg/playlists" target="_blank">
            Programming Help Org
        </a>
    </div>

</body>