.topnav {
    background-color: #0CC6C4;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* background-color: ; */
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #913BFB;
    margin: 10px;
    border-radius: 15px;
  }

input[type=text] {
    float: center;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 50px;
    font-size: 17px;
    width: 90%;
    padding: 20px;
    padding-left: 45px !important;
    border-style: solid;
  }

.searchButton {
    position: absolute;
    top: 29%;
    left: 91%;
    width: 70px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #0CC6C4;
    font-weight: 900;
    color: white;
    font-size: larger;
}

.searchButton:hover {
    border-style: solid;
    background-color: white;
    color: #0CC6C4;
}

.search {
    margin-top: 5% !important;
    margin: 10%;
    border: 5px #0CC6C4;
}

.page-title {
    color:#913BFB;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0 auto;
    font-weight: 900;
}

.subtitle {
    margin-left: 20px;
    margin-top: 0 auto;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }

  .search-icon {
    position: absolute;
    top: 35%;
    left: 12%;
    width: 14px;
  }

.scienceButton {
    background:url(../../assets/biology.png) no-repeat;
    background-position: center;
    font-size: large;
    font-weight: 900;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-left: 12%;
    margin-right: 3%;
}

.techButton {
    background:url(../../assets/digital.png) no-repeat;
    background-position: center;
    font-size: large;
    font-weight: 900;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: none; 
    margin-left: 3%;
    margin-right: 3%;
}

.engineeringButton {
    background:url(../../assets/engineering.png) no-repeat;
    background-position: center;
    font-size: large;
    font-weight: 900;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: none; 
    margin-left: 3%;
    margin-right: 3%;
}

.mathButton {
    background: url(../../assets/calculating.png) no-repeat;
    background-position: center;
    font-size: large;
    font-weight: 900;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: none; 
    margin-left: 3%;
    margin-right: 12%;
}

.scienceButton:hover {
    background-color: #913BFB !important;
    background: none;
}

.techButton:hover {
    background-color: #913BFB !important;
    background: none;
}

.engineeringButton:hover {
    background-color: #913BFB !important;
    background: none;
}

.mathButton:hover {
    background-color: #913BFB !important;
    background: none;
}

.text {
    width: 180px;
    height: 180px;
    opacity: 0;
    color: white;
}

.scienceButton:hover .text {
    opacity: 1;
}

.techButton:hover .text {
    opacity: 1;
}

.engineeringButton:hover .text {
    opacity: 1;
}

.mathButton:hover .text {
    opacity: 1;
}